@import url(vendor/normalize.css);
@import url(vendor/highlight-default.css);
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

body {
  color: #262626;
  background-color: #FAFAFA;
  font-family: 'Open Sans', sans-serif; }

#app {
  font-size: 16px;
  font-size: 1.6rem; }

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 0.75em;
  z-index: 3;
  color: white;
  font-family: Georgia, serif;
  font-size: 1.4em;
  margin: 0;
  font-weight: 400; }

.app__wrapper {
  width: 96%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 2%; }
  .app__wrapper:after {
    content: "";
    clear: both;
    height: 0;
    display: block; }

h1 {
  font-weight: 700; }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 300; }

h4 {
  font-weight: 300; }

em {
  font-weight: 700;
  text-decoration: none;
  font-style: normal; }

.grid-50 {
  width: 48%;
  float: left;
  margin: 0 2%; }
  .grid-50:nth-child(even) {
    margin-left: 0; }
  .grid-50:nth-child(odd) {
    margin-right: 0; }

.spinner-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FAFAFA; }

.spinner {
  margin: 0 auto;
  width: 5em;
  height: 5em;
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.header {
  text-align: center;
  padding: 11em 0;
  background-color: #444349;
  background-image: url("/img/stardust.png");
  color: white;
  text-shadow: 1px 1px 0px #262626;
  width: 100%; }
  .header h1 {
    margin-bottom: 0.2em;
    margin-top: 0; }
  .header__tagline {
    font-size: 1.25em;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
    font-weight: 300; }

.generator {
  box-shadow: 0 0 3px rgba(38, 38, 38, 0.2);
  overflow: auto;
  margin: -1.5em 0;
  margin-bottom: 0;
  background-color: white;
  border-radius: 5px;
  padding: 1.5em; }
  .generator h2 {
    display: inline-block; }
  .generator h3, .generator h4 {
    clear: both;
    margin-bottom: 0;
    margin-top: 0; }
  .generator__options {
    width: 50%;
    float: left;
    margin-bottom: 3em; }
  .generator__networks {
    display: inline-block;
    width: 100%; }
  .generator__form {
    overflow: auto;
    margin-bottom: 0.5em; }
    .generator__form label {
      display: block;
      margin: 0.5em 0; }
    .generator__form textarea,
    .generator__form input {
      padding: 0.2em 0.25em;
      width: 95%;
      border-radius: 5px;
      border: 1px solid #c7c7c7; }
  .generator__text {
    float: left;
    clear: both; }
  .generator__buttons {
    float: left;
    width: 50%;
    margin-bottom: 2em; }
    .generator__buttons h3 {
      margin-bottom: 2em;
      text-align: center; }
  .generator__network-button {
    float: left;
    width: 30%;
    margin: 0.3em 0; }
    .generator__network-button input[type="checkbox"] {
      margin-right: 0.3em; }
  .generator__sizes {
    float: left; }
    .generator__sizes label {
      width: 48%;
      margin: 2%;
      margin-left: 0; }
    .generator__sizes input[type="radio"] {
      margin-right: 0.3em; }
  .generator__icons {
    float: left;
    margin-left: 3em; }
  .generator hr {
    width: 100%;
    margin: 3em 0;
    margin-bottom: 2em;
    color: #262626;
    clear: both; }
  .generator__code {
    width: 100%;
    float: left;
    border: 1px solid #c7c7c7;
    border-radius: 0 0 5px 5px;
    margin-bottom: 1.5em; }
  .generator pre {
    display: block;
    font-size: 1.4rem;
    padding: 0.01em;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    height: 17em;
    border-radius: 0 0 5px 5px; }
  .generator code {
    font-family: Menlo, monospace;
    font-size: 1.4rem;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 0 0 5px 5px; }
  .generator__stats {
    text-align: center; }

.generator__code-heading {
  text-align: center;
  margin-bottom: 1em !important; }

/*
 * WTF, forms?
 * Released under MIT and copyright 2014 Mark Otto.
 * http://wtfforms.com
 *
 * Embedded icons from Open Iconic.
 * Released under MIT and copyright 2014 Waybury.
 * http://useiconic.com/open
 */
/*
 * Checkboxes and radios
 */
.control {
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  color: #555;
  cursor: pointer; }

.control input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  /* Put the input behind the label so it doesn't overlay text */ }

.control-indicator {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 100%;
  color: #eee;
  text-align: center;
  background-color: #eee;
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.control:hover .control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/
/* Focus */
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9; }

/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: #0074d9; }

/* Active */
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: #84c6ff; }

/* Checkbox modifiers */
.checkbox .control-indicator {
  border-radius: .25rem; }

.checkbox input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=); }

/* Radio modifiers */
.radio .control-indicator {
  border-radius: 50%; }

.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==); }

/* Alternately, use another character */
.control-x input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjQsMEwwLDEuNGwwLjcsMC43bDEuOCwxLjhMMC43LDUuN0wwLDYuNGwxLjQsMS40bDAuNy0wLjdsMS44LTEuOGwxLjgsMS44bDAuNywwLjdsMS40LTEuNEw3LjEsNS43DQoJTDUuMywzLjlsMS44LTEuOGwwLjctMC43TDYuNCwwTDUuNywwLjdMMy45LDIuNUwyLjEsMC43QzIuMSwwLjcsMS40LDAsMS40LDB6Ii8+DQo8L3N2Zz4NCg==); }

.control-dash input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDN2Mmg4VjNIMHoiLz4NCjwvc3ZnPg0K); }

/*
 * Select
 */
.select {
  position: relative;
  display: inline-block;
  color: #555; }

.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: .5rem 2.25rem .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent; }

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/
/* Focus */
.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9; }

/* Active/open */
.select select:active {
  color: #fff;
  background-color: #0074d9; }

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none; }

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem; }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff; } }
/* IE9 hack to hide the arrow */
@media screen and (min-width: 0\0) {
  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem; }

  .select:after {
    z-index: 5; }

  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee; }

  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee; } }
/*
 * File
 */
.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem; }

.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0; }

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.file-custom:after {
  content: "Choose file..."; }

.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0; }

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9; }

/*
 * Progress
 */
.progress {
  display: inline-block;
  height: 1rem; }

.progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove Firefox and Opera border */
  border: 0;
  /* IE10 uses `color` to set the bar background-color */
  color: #0074d9; }

.progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: .2rem; }

.progress[value]::-webkit-progress-value {
  background-color: #0074d9;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem; }

.progress[value="100"]::-webkit-progress-value {
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem; }

/* Firefox styles must be entirely separate or it busts Webkit styles. */
@-moz-document url-prefix() {
  .progress[value] {
    background-color: #eee;
    border-radius: .2rem; }

  .progress[value]::-moz-progress-bar {
    background-color: #0074d9;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem; }

  .progress[value="100"]::-moz-progress-bar {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem; } }
/* IE9 hacks to accompany custom markup. We don't need to scope this via media queries, but I feel better doing it anyway. */
@media screen and (min-width: 0\0) {
  .progress {
    background-color: #eee;
    border-radius: .2rem; }

  .progress-bar {
    display: inline-block;
    height: 1rem;
    text-indent: -999rem;
    /* Simulate hiding of value as in native `<progress>` */
    background-color: #0074d9;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem; }

  .progress[width="100%"] {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem; } }
/*
 * Control layouts
 */
.controls-stacked {
  margin: 1rem 0; }

.controls-stacked .control,
.controls-stacked .progress {
  display: block; }

.controls-stacked .control + .control,
.controls-stacked .progress + .progress {
  margin-top: .5rem; }

.controls-inline {
  margin: 1rem 0; }

.controls-inline .control {
  display: inline-block;
  height: 1rem; }

.controls-inline .control + .control {
  margin-left: 1rem; }

/* SHARE BUTTONS START */
.resp-sharing-button {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  transition: background-color 125ms ease-out, border-color 125ms ease-out, opacity 250ms ease-out;
  margin: 0.5em;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
  .resp-sharing-button a {
    text-decoration: none;
    color: #FFF;
    display: block; }
  .resp-sharing-button__icon {
    display: inline-block; }
    .resp-sharing-button__icon svg {
      fill: #FFF;
      width: 1em;
      height: 1em;
      margin-bottom: -0.1em; }
  .resp-sharing-button__link {
    text-decoration: none;
    color: #FFF; }
  .resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee; }
    .resp-sharing-button--twitter:hover, .resp-sharing-button--twitter:active {
      background-color: #2795e9;
      border-color: #2795e9; }
  .resp-sharing-button--pinterest {
    background-color: #cc2127;
    border-color: #cc2127; }
    .resp-sharing-button--pinterest:hover, .resp-sharing-button--pinterest:active {
      background-color: #a01a1f;
      border-color: #a01a1f; }
  .resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998; }
    .resp-sharing-button--facebook:hover, .resp-sharing-button--facebook:active {
      background-color: #2d4373;
      border-color: #2d4373; }
  .resp-sharing-button--tumblr {
    background-color: #35465C;
    border-color: #35465C; }
    .resp-sharing-button--tumblr:hover, .resp-sharing-button--tumblr:active {
      background-color: #222d3c;
      border-color: #222d3c; }
  .resp-sharing-button--reddit {
    background-color: #5f99cf;
    border-color: #5f99cf; }
    .resp-sharing-button--reddit:hover, .resp-sharing-button--reddit:active {
      background-color: #3a80c1;
      border-color: #3a80c1; }
  .resp-sharing-button--google {
    background-color: #dd4b39;
    border-color: #dd4b39; }
    .resp-sharing-button--google:hover, .resp-sharing-button--google:active {
      background-color: #c23321;
      border-color: #c23321; }
  .resp-sharing-button--linkedin {
    background-color: #0976b4;
    border-color: #0976b4; }
    .resp-sharing-button--linkedin:hover, .resp-sharing-button--linkedin:active {
      background-color: #075683;
      border-color: #075683; }
  .resp-sharing-button--large .resp-sharing-button__icon svg {
    padding-right: 0.4em; }
  .resp-sharing-button__wrapper {
    display: inline-block; }

/* SHARE BUTTONS END */
@media all and (max-width: 1050px) {
  .generator__options {
    width: 100%;
    clear: both; }
  .generator__buttons {
    width: 100%;
    clear: both; }

  .grid-50 {
    width: 100%;
    clear: both; } }
@media all and (max-width: 525px) {
  .generator__network-button {
    width: 50%; } }
.footer {
  padding: 1em 0;
  margin: 0;
  margin-top: 1.5em;
  display: inline-block;
  width: 100%;
  border-top: 1px solid #262626; }
  .footer:after {
    content: "";
    display: block;
    clear: both;
    height: 0; }

/*# sourceMappingURL=app.css.map */
