@import '_generator-preview.css';
@import '_generator-code.css';

.generator {
	overflow: auto;
	margin-bottom: 2em;
	padding: 0em;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.generator__inner-wrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.generator__settings {
	width: 50%;
	background-color: #FFF;
	border-right: 1px solid $mid-grey;
}

.generator__settings-field-wrapper {
	width: 100%;
	position: relative;
	padding-top: 1.75em;
	border-bottom: 1px solid $light-grey;
	padding-bottom: 1.625em;
}

.generator__settings-field-wrapper--hover {
	cursor: text;
	padding-bottom: 0;
}

.generator__settings-field-wrapper--hover:hover,
.generator__settings-field-wrapper--hover:hover .generator__settings-field {
	background-color: $light-grey;
}

.generator__settings-field-wrapper:hover .generator__settings-section-heading {
	color: $very-dark-grey;
}

.generator__settings-field-wrapper--hover:hover .generator__settings-field {
	color: $text-color;
}

.generator__settings-field-input:nth-child(1) {
	border-radius: 3px 0 0 0;
}

.generator__settings-field  {
	position: relative;
	padding: 1.625em 16px;
	width: 100%;
	color: $dark-grey;
	border: none;
	outline: none;
}

.generator__settings-section-heading {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	padding: 16px;
	padding-top: 20px;
	padding-bottom: 0px;
	margin: 0;
	z-index: 1;
	font-size: 0.8em;
	color: $mid-grey;
	font-weight: 400;
	user-select: none;
	cursor: default;
}

.generator__settings-field-wrapper--hover .generator__settings-section-heading {
	cursor: text;
}

.generator__option-bullet {
	height: 1.75em;
	width: 30%;
	position: absolute;
	background-color: $brand-color;
	border-radius: 3px;
	z-index: 0;
	transition: transform 150ms ease-out
}

.generator__option--selected.generator__option:nth-child(2) ~ .generator__option-bullet {
	transform: translateX(100%);
}

.generator__option--selected.generator__option:nth-child(3) ~ .generator__option-bullet {
	transform: translateX(203%);
}

.generator__option {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	text-align: center;
	user-select: none;
	cursor: pointer;
	border-radius: 3px;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	font-size: 0.8em;
	width: 30%;
	margin-right: 3%;
	position: relative;
	z-index: 1;
	transition: color 150ms cubic-bezier(0.23, 1, 0.32, 1);
}

.generator__option-network {
	width: 2em;
	height: 2em;
	margin: 0;
	margin-right: 1em;
	margin-bottom: 1em;
}

.generator__option-network svg {
	width: 1em;
	height: 1em;
  overflow: visible;
}

.generator__option--selected {
	color: #FFF;
	background-color: $brand-color;
}

.generator__option--radio.generator__option--selected {
	transition: background-color 0ms ease-out 150ms;
}

.generator__option--selected.generator__option-network {
	transition: none;
}

.generator__option {
	stroke: currentColor;
	fill: none;
}

.generator__option-icon--solid,
.generator__option-icon--solidcircle {
	fill: currentColor;
	stroke: none;
}

.generator:after,
.generator__settings:after,
.generator__preview:after,
.generator__settings-field-wrapper:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}
