.header {
	text-align: center;
	padding: 11em 0;
	background-color: #444349;
	background-image: url("/img/stardust.png");
	color: white;
	text-shadow: 1px 1px 0px $text-color;
	width: 100%;

	h1 {
		margin-bottom: 0.2em;
		margin-top: 0;
	}

	&__tagline {
		font-size: 1.25em;
		margin-top: 0.2em;
		margin-bottom: 1.5em;
		font-weight: 300;
	}
}