.logo {
  position: absolute;
	top: 0;
	left: 0;
	padding: 2%;
  margin: 0;
  font-family: $serif;
  font-size: 1.5em;
  color: $mid-grey;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
  z-index: 10;
  transition: color 50ms ease-out;
}

.logo:hover {
  color: $dark-grey;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  fill: $background;
  z-index: 10;
  width: 60px;
  height: 60px;
}

.github-corner__bg {
  fill: $mid-grey;
}

.header {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__wrapper {
  display: block;
  text-align: center;
}

.header__title {
  font-family: $sans-serif;
  font-weight: 700;
  color: $very-dark-grey;
}

.header__tagline {
  font-weight: 400;
  font-size: 1.3em;
  color: $dark-grey;
}
