@media all and (max-width: $mobile-breakpoint) {
	.grid-50 {
		width: 100%;
		clear: both;
		margin-left: 0;
		margin-right: 0;
	}
}

@media all and (max-width: 700px) {
	.generator__inner-wrapper {
		flex-direction: column;
	}

	.generator__settings {
		width: 100%;
	}

	.generator__radiobutton {
		padding: 1em;
	}

	.generator__radiobutton-network {
		width: 3em;
		height: 3em;
		padding: 0.5em;
	}

	.generator__radiobutton-network svg {
		width: 1.5em;
		height: 1.5em;
	}

	.generator__preview {
		width: 100%;
	}
}
