$mobile-breakpoint: 1050px;
$serif: Georgia, Times, 'Times New Roman', serif;
$sans-serif: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$monospace: Menlo, monospace;

$text-color: #262626;
$background: #FAFAFA;
$very-light-grey: #FAFAFA;
$light-grey: #EBEBEB;
$mid-grey: #999;
$dark-grey: #666;
$very-dark-grey: #333;

$button-height: 2em;
